<div class="card mt-4">
  <div class="card-header table-title">
    Tables
    <button type="button" class="btn btn-secondary right-icon ms-auto">
      Download <i class="px-2 bi bi-download"></i>
    </button>
  </div>
  <div class="card-body">
    <div class="container py-5">
      <div class="row">
        <div class="col">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="selectedDate"
            ngbDatepicker
            #datepicker="ngbDatepicker"
          />
        </div>
        <div class="col-auto">
          <button
            class="btn btn-outline-secondary"
            (click)="datepicker.toggle()"
          >
            <i class="bi bi-calendar-check"></i>
          </button>
        </div>
      </div>
    </div>

    <table class="table">
      <tbody>
        <tr *ngFor="let job of jobs">
          <td>{{ job.name }}</td>
          <td>
            <!-- <ul *ngFor="let subJob of job.arrays">
              <li>
                {{ subJob.modifiedTime }}
              </li>
            </ul> -->
            <div>
              <ng-container *ngFor="let subJob of job.arrays">
                <ng-container [ngSwitch]="subJob.status">
                  <ng-container *ngSwitchCase="'Ended OK'">
                    <button type="button" class="btn btn-outline-success mx-2">
                      Done
                    </button>
                  </ng-container>
                  <ng-container *ngSwitchCase="'Executing'">
                    <button type="button" class="btn btn-outline-primary mx-2">
                      {{ subJob.modifiedTime }}
                    </button>
                  </ng-container>
                  <ng-container *ngSwitchCase="'Wait Condition'">
                    <button type="button" class="btn btn-outline-warning mx-2">
                      {{ subJob.modifiedTime }}
                    </button>
                  </ng-container>
                  <ng-container *ngSwitchCase="'Ended Not OK'">
                    <button type="button" class="btn btn-outline-danger mx-2">
                      {{ subJob.modifiedTime }}
                    </button>
                  </ng-container>
                </ng-container>
              </ng-container>
            </div>
          </td>
          <!-- <td *ngIf="job.status === 'Ended OK'">
            <button type="button" class="btn btn-outline-success">Done</button>
          </td>
          <td *ngIf="job.status === 'Executing'">
            <button type="button" class="btn btn-outline-primary">
              {{ job.modifiedTime }}
            </button>
          </td>
          <td *ngIf="job.status === 'Wait Condition'">
            <button type="button" class="btn btn-outline-warning">
              {{ job.modifiedTime }}
            </button>
          </td>
          <td *ngIf="job.status === 'Ended Not OK'">
            <button type="button" class="btn btn-outline-danger">
              {{ job.modifiedTime }}
            </button>
          </td> -->
        </tr>
      </tbody>
    </table>
  </div>
</div>
