<div class="row m-3">
  <div class="col-md-12 dashboard sidebar-link">
    <span class="fw-bold fs-3">Dashboard</span>
    <span class="ms-auto right-icon"
      >Last Updated: {{ todayDate | date : "medium" }}</span
    >
  </div>
</div>
<div class="row">
  <div class="col-md-3 text-center" *ngFor="let card of cards">
    <div class="card text-bg-{{ card.textType }} mb-3  card-width">
      <div class="card-header display-6">
        <i class="bi bi-{{ card.iconName }} "></i>
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ card.title }}</h5>
        <p class="card-text display-5">{{ card.statusNo }}</p>
      </div>
    </div>
  </div>
</div>
