<app-header></app-header>
<div class="container-fluid mt-3">
  <div class="row item-1">
    <app-navbar></app-navbar>
  </div>
  <div class="row items">
    <div class="col-sm-12 p-0">
      <div class="black-border p-3">
        <div class="card-header tree-box">Graph</div>
      </div>
    </div>
  </div>
  <div class="row items">
    <div class="col-sm-12 p-0">
      <div class="black-border p-3">
        <div class="card-header filter-box">Filter Jobs</div>
      </div>
    </div>
  </div>
  <div class="row items">
    <div class="col-sm-12 p-0">
      <div class="black-border p-3">
        <div class="card-header tree-box">Tables</div>
      </div>
    </div>
  </div>
</div>
