<div class="row black-border">
    <div class="col-sm-4 p-4 mx-4">
      <div class="input-group">
        <span class="input-group-text">
          <i class="bi bi-funnel"></i>
        </span>
        <input type="text" class="form-control" placeholder="Filter Jobs..." />
      </div>
    </div>
    <div class="col-sm-4"></div>
    <div class="col-sm-3 p-4">
      <button type="button" class="btn btn-outline-primary">
        <i class="bi bi-download"></i> Download
      </button>
    </div>
</div>
